doctype html
//- mixin działa jak funkcja
mixin item(url, title)
  li 
    a(href=url)=title 

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  span=sciezka
    ul
      +item('/', 'Strona główna')
      +item('/news', 'Aktualności')
      +item('/quiz', 'Quiz')
      +item('/admin', 'Admin')

        
    block content
